/* Summary details styling */
details summary::-webkit-details-marker {
    display: none;
}

details summary {
    position: relative;
    padding-left: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

details summary:hover {
    color: var(--accent-color);
}

details summary::before {
    content: '▶';
    /* Arrow */
    position: absolute;
    left: 0;
    font-size: 0.8em;
    transition: transform 0.2s;
    color: var(--accent-color);
}

details[open] summary::before {
    transform: rotate(90deg);
}

/* RTL Support for Details */
html[dir="rtl"] details summary {
    padding-left: 0;
    padding-right: 20px;
}

html[dir="rtl"] details summary::before {
    left: auto;
    right: 0;
    transform: rotate(180deg);
    /* Point Left */
}

html[dir="rtl"] details[open] summary::before {
    transform: rotate(90deg);
    /* Point Down */
}